.login .login-form {
    padding: 40px 50px 50px 50px;
}
.login .or img {
    width: 100%;
    height: 5px;
}
.btn:focus{outline: none;box-shadow: none;}
@media (max-width:992px){
    .login .login-form {
        padding: 30px 30px 30px 30px
    ;
    }
}